In [60]:
#Imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import numpy as np
import pytz
from fredapi import Fred

%matplotlib inline

In [61]:
load_dotenv()

True

In [62]:
api_key = os.getenv("FRED_API_KEY")

In [63]:
type(api_key)

str

In [64]:
fred = Fred(api_key)

In [44]:
#realtime_start = "1980-01-01"
#realtime_end = "2021-07-31"

In [113]:
# Corporate Bond data set
bond_data = fred.get_series("AAA")
bond_data.dropna(inplace=True)
bond_data.head(10)

1919-01-01    5.35
1919-02-01    5.35
1919-03-01    5.39
1919-04-01    5.44
1919-05-01    5.39
1919-06-01    5.40
1919-07-01    5.44
1919-08-01    5.56
1919-09-01    5.60
1919-10-01    5.54
dtype: float64

In [114]:
# Money Supply data set
m2sl_data = fred.get_series("M2SL")
m2sl_data.dropna(inplace=True)
#m2sl_data.drop(columns=['Unnamed: 0'], inplace=True)
#m2sl_data.isnull()
m2sl_data.head()

1959-01-01    286.6
1959-02-01    287.7
1959-03-01    289.2
1959-04-01    290.1
1959-05-01    292.2
dtype: float64

In [123]:
# S&P 500 data set
sp500_data = fred.get_series("SP500")
sp500_data.dropna(inplace=True)
sp500_data.head(10)

2011-08-05    1199.38
2011-08-08    1119.46
2011-08-09    1172.53
2011-08-10    1120.76
2011-08-11    1172.64
2011-08-12    1178.81
2011-08-15    1204.49
2011-08-16    1192.76
2011-08-17    1193.89
2011-08-18    1140.65
dtype: float64

In [124]:
# GDP data set
gdp_data = fred.get_series("GDPC1")
gdp_data.dropna(inplace=True)
gdp_data.head(10)

1947-01-01    2034.450
1947-04-01    2029.024
1947-07-01    2024.834
1947-10-01    2056.508
1948-01-01    2087.442
1948-04-01    2121.899
1948-07-01    2134.056
1948-10-01    2136.440
1949-01-01    2107.001
1949-04-01    2099.814
dtype: float64

In [121]:
# Initializing percentage change variables for each data set
gdp_change = gdp_data.pct_change()
sp500_change = sp500_data.pct_change()
m2sl_change = m2sl_data.pct_change()
bond_change = bond_data.pct_change()

In [119]:
# Concatinating the individual data sets into one Dataframe
m2_df = pd.concat([m2sl_data, sp500_data, gdp_data, bond_data], axis="columns", join="inner")
m2_df["1980-01-01" : "2021-07-31"]
#m2_df = pd.DataFrame({"M2SL": [m2sl_data], "S&P 500": [sp500_data], "GDP": [gdp_data]})
m2_df.sort_index(inplace=True, ascending=False)
m2_df.rename(columns = {0 : "M2SL", 1 : "S&P 500", 2 : "GDP", 3: "Corporate Bonds"}, inplace=True)
m2_df.head(20)

               M2SL  S&P 500        GDP  Corporate Bonds
2021-04-01  20119.9  4019.87  19358.176             2.90
2020-10-01  18751.1  3380.80  18767.778             2.35
2020-07-01  18320.0  3115.86  18560.774             2.14
2020-04-01  17042.9  2470.50  17258.205             2.43
2019-10-01  15156.7  2940.25  19202.310             3.01
2019-07-01  14862.1  2964.33  19112.653             3.29
2019-04-01  14572.7  2867.19  18982.528             3.69
2018-10-01  14239.7  2924.59  18721.281             4.14
2016-07-01  12894.0  2102.95  17724.489             3.28
2016-04-01  12701.5  2072.78  17618.581             3.62
2015-10-01  12196.5  1923.82  17462.579             3.95
2015-07-01  12055.9  2077.42  17437.080             4.15
2015-04-01  11931.1  2059.69  17380.875             3.52
2014-10-01  11562.1  1946.16  17141.235             3.92
2014-07-01  11437.4  1973.32  17064.616             4.16
2014-04-01  11263.1  1885.52  16868.109             4.24
2013-10-01  10952.1  1695.00  16712.760             4.53
2013-07-01  10732.4  1614.96  16594.743             4.34
2013-04-01  10593.7  1562.17  16464.402             3.73
2012-10-01  10260.8  1444.49  16300.035             3.47

In [122]:
# Creating a percentage change Dataframe of each data set
m2_change_df = pd.concat([m2sl_change, sp500_change, gdp_change, bond_change], axis="columns", join="inner")
m2_change_df["1980-01-01" : "2021-07-31"]
#m2_df = pd.DataFrame({"M2SL": [m2sl_data], "S&P 500": [sp500_data], "GDP": [gdp_data]})
m2_change_df.sort_index(inplace=True, ascending=False)
m2_change_df.rename(columns = {0 : "M2SL", 1 : "S&P 500", 2 : "GDP", 3: "Corporate Bonds"}, inplace=True)
m2_change_df.head(20)

                M2SL   S&P 500       GDP  Corporate Bonds
2021-04-01  0.010339  0.011825  0.015876        -0.046053
2020-10-01  0.007853  0.005293  0.011153         0.017316
2020-07-01  0.007723  0.005022  0.075475        -0.122951
2020-04-01  0.064230 -0.044142 -0.089373        -0.195364
2019-10-01  0.008423 -0.012258  0.004691        -0.006601
2019-07-01  0.004793  0.007672  0.006855        -0.038012
2019-04-01  0.002476  0.011569  0.007929        -0.021220
2018-10-01  0.000513  0.003641  0.002231         0.040201
2016-07-01  0.004565  0.001949  0.006011        -0.062857
2016-04-01  0.006370  0.006331  0.003024        -0.052356
2015-10-01  0.003117  0.001974  0.001462        -0.029484
2015-07-01  0.004114  0.006936  0.003234        -0.009547
2015-04-01  0.003305 -0.003965  0.005800        -0.032967
2014-10-01  0.005383 -0.013249  0.004490        -0.046229
2014-07-01  0.005009  0.006678  0.011650        -0.021176
2014-04-01  0.004665  0.007039  0.012841        -0.031963
2013-10-01  0.010472  0.007999  0.007112        -0.023707
2013-07-01  0.004342  0.005404  0.007917         0.016393
2013-04-01  0.003258 -0.004474  0.001394        -0.050891
2012-10-01  0.006217  0.002652  0.001098        -0.005731

In [126]:
# Checking the percentage change data frame
m2_change_df.dtypes

M2SL               float64
S&P 500            float64
GDP                float64
Corporate Bonds    float64
dtype: object

In [127]:
# Checking the concatenated data frame
m2_df.dtypes

M2SL               float64
S&P 500            float64
GDP                float64
Corporate Bonds    float64
dtype: object

In [ ]:
bond_data