In [2]:
import pandas_datareader as pdr
import pandas as pd
import datetime

C:\Users\prade\anaconda3\envs\pyvizenv\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\prade\anaconda3\envs\pyvizenv\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\prade\anaconda3\envs\pyvizenv\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  stacklevel=1)

In [4]:
start = datetime.datetime (2005, 5, 1)
end = datetime.datetime (2020, 6, 1)

df = pdr.DataReader('PAYEMS', 'fred', start, end)
df.head()

            PAYEMS
DATE
2005-05-01  133690
2005-06-01  133942
2005-07-01  134296
2005-08-01  134498
2005-09-01  134566