In [6]:
pip install datetime

Requirement already satisfied: datetime in c:\users\prade\anaconda3\envs\pyvizenv\lib\site-packages (4.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pytz in c:\users\prade\anaconda3\envs\pyvizenv\lib\site-packages (from datetime) (2021.1)
Requirement already satisfied: zope.interface in c:\users\prade\anaconda3\envs\pyvizenv\lib\site-packages (from datetime) (5.3.0)
Requirement already satisfied: setuptools in c:\users\prade\anaconda3\envs\pyvizenv\lib\site-packages (from zope.interface->datetime) (52.0.0.post20210125)

In [5]:
import pandas as pd
import pandas_datareader.data as pdr
import datetime as dt

In [7]:
start = dt.datetime(2010,1,1)
end = dt.datetime(2021,7,31)
btc_df = pdr.DataReader('BTC-USD','yahoo',start,end)
btc_df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-09-16,468.174011,452.421997,465.864014,457.334015,21056800.0,457.334015
2014-09-17,456.859985,413.104004,456.859985,424.440002,34483200.0,424.440002
2014-09-18,427.834991,384.532013,424.102997,394.795990,37919700.0,394.795990
2014-09-19,423.295990,389.882996,394.673004,408.903992,36863600.0,408.903992
2014-09-20,412.425995,393.181000,408.084991,398.821014,26580100.0,398.821014

In [8]:
btc_df.dropna()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-09-16,468.174011,452.421997,465.864014,457.334015,2.105680e+07,457.334015
2014-09-17,456.859985,413.104004,456.859985,424.440002,3.448320e+07,424.440002
2014-09-18,427.834991,384.532013,424.102997,394.795990,3.791970e+07,394.795990
2014-09-19,423.295990,389.882996,394.673004,408.903992,3.686360e+07,408.903992
2014-09-20,412.425995,393.181000,408.084991,398.821014,2.658010e+07,398.821014
...,...,...,...,...,...,...
2021-07-27,40816.070312,38862.437500,39503.187500,39995.906250,3.870240e+10,39995.906250
2021-07-28,40593.070312,39352.058594,39995.453125,40008.421875,2.716715e+10,40008.421875
2021-07-29,42235.546875,38397.355469,40027.484375,42235.546875,3.307278e+10,42235.546875
2021-07-30,42231.449219,41110.832031,42196.304688,41626.195312,2.580285e+10,41626.195312
2021-07-31,42541.679688,39540.941406,41460.843750,39974.894531,2.668844e+10,39974.894531