In [1]:
# First install the Quandl package in Python using Git Bash or Terminal with the following commamds:
# pip install quandl

In [2]:
# Initial imports
import requests
from dotenv import load_dotenv
import os 
import quandl
import pandas as pd
import numpy as np

# Load .env enviroment variables
load_dotenv()

True

In [3]:
# Use the os.getenv function to retrieve the environment variable named QUANDL_API_KEY. Store as a Python variable named api_key
api_key = os.getenv("QUANDL_API_KEY")

In [4]:
# Use the type function to confirm the retrieval of the API key
type(api_key)

str

In [5]:
# # # Define the base request URL
# request_url = "https://www.quandl.com/api/v3/datatables/ZILLOW/DATA?indicator_id=ZALL&region_id=99999&api_key="
# # Concatenate request_url and api_key. Store as new variable
# request_url = request_url + api_key

In [6]:
# # Execute get request
# response_data = requests.get(request_url)

In [7]:
# Output data
# response_data.content

In [8]:
# request_url2 = "https://www.quandl.com/api/v3/datatables/ZILLOW/DATA?indicator_id=ZALL&api_key="
# # Concatenate request_url and api_key. Store as new variable
# request_url2 = request_url2 + api_key

In [9]:
# # Execute get request
# response_data2 = requests.get(request_url2)

In [10]:
# Output data (It's wprking)
# response_data2.content

In [11]:
# import json
# data_zillow = response_data2.json()
# print(json.dumps(data_zillow, indent=4))

In [12]:
# Zillow uses three datasets in Quandl to organize the information:

# ZILLOW/DATA that has 56 indicators related to the real estate market: House purchases, etc and uses the indicator_id as the primary key and the region_id to connect with the other datasets.
# ZILLOW/INDICATORS provides the name of each indicator variable via the indicator_id 
# ZILLOW/REGIONS has all the names and IDs of all regions (the ids range from the neighborhood level up to the state level)

# These 3 datasets were combined to obtain the main dataset for the analysis. The indicator used are based on the ZHVI that reflects the typical value for homes in the 35th to 65th percentile range:
# - ZALL which is the ZHVI estimated home value for all homes in the 35th to 65th percentile: Includes Single Family Residences, condominimums and co-ops
# - ZATT typical value for all the homes within the 65th to 95th percentile range for a given region 
# - ZABT typical value for homes that fall within the 5th to 35th percentile range for a given region
# - ZSFH which is the estimated home value for single family residences in the middle tier (mid-market) of their region
# - ZCON which is the estimated home value for Condos and co-ops in the middle tier (mid-market) of their region
# - IRAM For-Sale Inventory (All Homes, Monthly) --- not enough data only October 2017 to May 2021
# - IRSM For-sale Inventory (SFR only, Monthly) --- not enough data only October 2017 to May 2021

In [13]:
# Call the API key for Quandl

quandl.ApiConfig.api_key = api_key

In [14]:
# Pulling the regions information from the ZILLOW/REGIONS dataset 
# The region_id will be used to connet this dataset with the other two datasets: prices (ZILLOW/DATA) and indicators (ZILLOW/INDICATORS)
zillow_regions_states_db = quandl.get_table('ZILLOW/REGIONS', region_type='state')

# zillow_regions_states_db

In [15]:
list_of_states = zillow_regions_states_db['region_id'].values.tolist()

In [16]:
print('List of States: ', list_of_states)

List of States:  ['9', '8', '62', '61', '60', '6', '59', '58', '56', '55', '54', '53', '52', '51', '50', '47', '46', '45', '44', '43', '42', '41', '40', '4', '39', '38', '37', '36', '35', '34', '32', '31', '30', '3', '28', '27', '26', '25', '24', '23', '22', '21', '20', '19', '18', '16', '14', '13', '12', '11', '10']

In [17]:
quandl.get_table('ZILLOW/DATA', indicator_id='ZALL', region_id=['9', '8', '62', '61', '60', '6', '59', '58', '56', '55', '54', '53', '52', '51', '50', '47', '46', '45', '44', '43', '42', '41', '40', '4', '39', '38', '37', '36', '35', '34', '32', '31', '30', '3', '28', '27', '26', '25', '24', '23', '22', '21', '20', '19', '18', '16', '14', '13', '12', '11', '10'])

C:\Users\frank\anaconda3\lib\site-packages\quandl\get_table.py:38: UserWarning: To request more pages, please set paginate=True in your         quandl.get_table() call. For more information see our documentation:         https://github.com/quandl/quandl-python/blob/master/FOR_ANALYSTS.md#things-to-note
  warnings.warn(Message.WARN_PAGE_LIMIT_EXCEEDED, UserWarning)

     indicator_id region_id       date     value
None
0            ZALL         9 2021-05-31  668300.0
1            ZALL         9 2021-04-30  652490.0
2            ZALL         9 2021-03-31  640937.0
3            ZALL         9 2021-02-28  637108.0
4            ZALL         9 2021-01-31  630371.0
...           ...       ...        ...       ...
9995         ZALL         3 2008-08-31  266191.0
9996         ZALL         3 2008-07-31  265958.0
9997         ZALL         3 2008-06-30  265796.0
9998         ZALL         3 2008-05-31  265727.0
9999         ZALL         3 2008-04-30  265402.0

[10000 rows x 4 columns]

## Mid Tier Home Values

In [18]:
# Mid Tier Home Values 1/2
# One of two Zillow prices datatets for 26 states (Quandl has limitations and does not let pull the prices for all states at once, it's over 10,000 rows)
# Using Quandl package:
One_of_two_states_mid_tier_home_values = quandl.get_table('ZILLOW/DATA', indicator_id='ZALL', region_id=['9', '8', '62', '61', '60', '6', '59', '58', '56', '55', '54', '53', '52', '51', '50', '47', '46', '45', '44', '43', '42', '41', '40', '4', '39', '38'])

# One_of_two_states_mid_tier_home_values

In [19]:
# Mid Tier Home Values 2/2
# Two of two Zillow prices datatets for 26 states (Quandl has limitations and does not let pull the prices for all states at once, it's over 10,000 rows)
# Using Quandl package:
Two_of_two_states_mid_tier_home_values = quandl.get_table('ZILLOW/DATA', indicator_id='ZALL', region_id=['37', '36', '35', '34', '32', '31', '30', '3', '28', '27', '26', '25', '24', '23', '22', '21', '20', '19', '18', '16', '14', '13', '12', '11', '10'])

# Two_of_two_states_mid_tier_home_values

In [20]:
# Joining Mid Tier Home Values 

# Joining the Zillow mid-tier home values datasets for all the states
All_states_mid_tier_home_values = pd.concat([One_of_two_states_mid_tier_home_values, Two_of_two_states_mid_tier_home_values])

# Renaming the value column as mid_tier_home_values
All_states_mid_tier_home_values = All_states_mid_tier_home_values.rename(columns = {'value': 'mid_tier_home_value'})

# Dropping the indicator_id column
All_states_mid_tier_home_values = All_states_mid_tier_home_values.drop(columns=['indicator_id'])
All_states_mid_tier_home_values = All_states_mid_tier_home_values.reset_index(drop=True)

# All_states_mid_tier_home_values

## Top Tier Home Values

In [21]:
# Top Tier Home Values 1/2

# One of two Zillow prices datatets for 26 states (Quandl has limitations and does not let pull the prices for all states at once, it's over 10,000 rows)
# Using Quandl package:
One_of_two_states_top_tier_home_values = quandl.get_table('ZILLOW/DATA', indicator_id='ZATT', region_id=['9', '8', '62', '61', '60', '6', '59', '58', '56', '55', '54', '53', '52', '51', '50', '47', '46', '45', '44', '43', '42', '41', '40', '4', '39', '38'])

# One_of_two_states_top_tier_home_values

In [22]:
# Top Tier Home Values 2/2

# Two of two Zillow prices datatets for 26 states (Quandl has limitations and does not let pull the prices for all states at once, it's over 10,000 rows)
# Using Quandl package:
Two_of_two_states_top_tier_home_values = quandl.get_table('ZILLOW/DATA', indicator_id='ZATT', region_id=['37', '36', '35', '34', '32', '31', '30', '3', '28', '27', '26', '25', '24', '23', '22', '21', '20', '19', '18', '16', '14', '13', '12', '11', '10'])

# Two_of_two_states_top_tier_home_values

In [23]:
# Joining Top Tier Home Values
# Joining the Zillow top-tier home values datasets for all the states
All_states_top_tier_home_values = pd.concat([One_of_two_states_top_tier_home_values, Two_of_two_states_top_tier_home_values])

# Renaming the value column as top_tier_home_values
All_states_top_tier_home_values = All_states_top_tier_home_values.rename(columns = {'value': 'top_tier_home_value'})

# Dropping the indicator_id column
All_states_top_tier_home_values = All_states_top_tier_home_values.drop(columns=['indicator_id'])
All_states_top_tier_home_values = All_states_top_tier_home_values.reset_index(drop=True)

# All_states_top_tier_home_values

## Bottom Tier Home Values

In [24]:
# Botton tier 1/2

# One of two Zillow prices datatets for 26 states (Quandl has limitations and does not let pull the prices for all states at once, it's over 10,000 rows)
# Using Quandl package:
One_of_two_states_bottom_tier_home_values = quandl.get_table('ZILLOW/DATA', indicator_id='ZABT', region_id=['9', '8', '62', '61', '60', '6', '59', '58', '56', '55', '54', '53', '52', '51', '50', '47', '46', '45', '44', '43', '42', '41', '40', '4', '39', '38'])

# One_of_two_states_bottom_tier_home_values

In [25]:
# Bottom Tier Home Values 2/2

# Two of two Zillow prices datatets for 25 states (Quandl has limitations and does not let pull the prices for all states at once, it's over 10,000 rows)
# Using Quandl package:
Two_of_two_states_bottom_tier_home_values = quandl.get_table('ZILLOW/DATA', indicator_id='ZABT', region_id=['37', '36', '35', '34', '32', '31', '30', '3', '28', '27', '26', '25', '24', '23', '22', '21', '20', '19', '18', '16', '14', '13', '12', '11', '10'])

# Two_of_two_states_bottom_tier_home_values

In [26]:
# Joining Bottom Tier Home Values
# Joining the Zillow bottom-tier home values datasets for all the states
All_states_bottom_tier_home_values = pd.concat([One_of_two_states_bottom_tier_home_values, Two_of_two_states_bottom_tier_home_values])

# Renaming the value column as bottom_tier_home_values
All_states_bottom_tier_home_values = All_states_bottom_tier_home_values.rename(columns = {'value': 'bottom_tier_home_value'})

# Dropping the indicator_id column
All_states_bottom_tier_home_values = All_states_bottom_tier_home_values.drop(columns=['indicator_id'])
All_states_bottom_tier_home_values = All_states_bottom_tier_home_values.reset_index(drop=True)

# All_states_bottom_tier_home_values

## Single Family Homes Values

In [27]:
# Single Family Homes 1/2

# One of two Zillow prices datatets for 26 states (Quandl has limitations and does not let pull the prices for all states at once, it's over 10,000 rows)
# Using Quandl package:
One_of_two_single_family_home_values = quandl.get_table('ZILLOW/DATA', indicator_id='ZSFH', region_id=['9', '8', '62', '61', '60', '6', '59', '58', '56', '55', '54', '53', '52', '51', '50', '47', '46', '45', '44', '43', '42', '41', '40', '4', '39', '38'])

# One_of_two_single_family_home_values

In [29]:
# Single Family Homes 2/2

# Two of two Zillow prices datatets for 25 states (Quandl has limitations and does not let pull the prices for all states at once, it's over 10,000 rows)
# Using Quandl package:
Two_of_two_single_family_home_values = quandl.get_table('ZILLOW/DATA', indicator_id='ZSFH', region_id=['37', '36', '35', '34', '32', '31', '30', '3', '28', '27', '26', '25', '24', '23', '22', '21', '20', '19', '18', '16', '14', '13', '12', '11', '10'])

# Two_of_two_single_family_home_values

In [30]:
# Joining Single Family Home Values
# Joining the Zillow single family home values datasets for all the states
All_states_single_family_home_values = pd.concat([One_of_two_single_family_home_values, Two_of_two_single_family_home_values])

# Renaming the value column as single_family_home_values
All_states_single_family_home_values = All_states_single_family_home_values.rename(columns = {'value': 'single_family_home_value'})

# Dropping the indicator_id column
All_states_single_family_home_values = All_states_single_family_home_values.drop(columns=['indicator_id'])
All_states_single_family_home_values = All_states_single_family_home_values.reset_index(drop=True)

# All_states_single_family_home_values

## Condos and Co-Ops Values

In [31]:
# Condos and Co-Ops 1/2

# One of two Zillow prices datatets for 26 states (Quandl has limitations and does not let pull the prices for all states at once, it's over 10,000 rows)
# Using Quandl package:
One_of_two_condo_coop_values = quandl.get_table('ZILLOW/DATA', indicator_id='ZCON', region_id=['9', '8', '62', '61', '60', '6', '59', '58', '56', '55', '54', '53', '52', '51', '50', '47', '46', '45', '44', '43', '42', '41', '40', '4', '39', '38'])

# One_of_two_condo_coop_values

In [32]:
# Condos and Co-Ops 2/2

# Two of two Zillow prices datatets for 25 states (Quandl has limitations and does not let pull the prices for all states at once, it's over 10,000 rows)
# Using Quandl package:
Two_of_two_condo_coop_values = quandl.get_table('ZILLOW/DATA', indicator_id='ZCON', region_id=['37', '36', '35', '34', '32', '31', '30', '3', '28', '27', '26', '25', '24', '23', '22', '21', '20', '19', '18', '16', '14', '13', '12', '11', '10'])

# Two_of_two_condo_coop_values

In [33]:
# Joining Condo Coops Values
# Joining the Zillow condo/coops values datasets for all the states
All_states_condo_coop_values = pd.concat([One_of_two_condo_coop_values, Two_of_two_condo_coop_values])

# Renaming the value column as single_family_home_values
All_states_condo_coop_values = All_states_condo_coop_values.rename(columns = {'value': 'condo_coop_value'})

# Dropping the indicator_id column
All_states_condo_coop_values = All_states_condo_coop_values.drop(columns=['indicator_id'])
All_states_condo_coop_values = All_states_condo_coop_values.reset_index(drop=True)

# All_states_condo_coop_values

In [34]:
# Joining the monthly value datasets for all the states and tiers
prices_all_tiers_states = pd.merge(All_states_top_tier_home_values, All_states_mid_tier_home_values)
prices_all_tiers_states = pd.merge(prices_all_tiers_states, All_states_bottom_tier_home_values)
prices_all_tiers_states = pd.merge(prices_all_tiers_states, All_states_single_family_home_values)
prices_all_tiers_states = pd.merge(prices_all_tiers_states, All_states_condo_coop_values)

# prices_all_tiers_states

In [35]:
# Merging the prices for all states with their names from the Zillow/regions dataset
prices_all_tiers_states = pd.merge(zillow_regions_states_db, prices_all_tiers_states)

# prices_all_tiers_states

## Cleaning up the data

In [36]:
# Removing null values
prices_all_tiers_states = prices_all_tiers_states.dropna()

# Dropping the region_type column
prices_all_tiers_states = prices_all_tiers_states.drop(columns=['region_type', 'region_id'])

prices_all_tiers_states

,region,date,top_tier_home_value,mid_tier_home_value,bottom_tier_home_value,single_family_home_value,condo_coop_value
0,California; CA,2021-05-31,1219370.0,668300.0,404829.0,682099.0,578589.0
1,California; CA,2021-04-30,1189314.0,652490.0,395453.0,665666.0,566595.0
2,California; CA,2021-03-31,1168234.0,640937.0,388370.0,653538.0,558604.0
3,California; CA,2021-02-28,1163739.0,637108.0,385333.0,648792.0,561410.0
4,California; CA,2021-01-31,1151620.0,630371.0,380844.0,641656.0,557018.0
...,...,...,...,...,...,...,...
15244,Colorado; CO,1996-05-31,234723.0,142279.0,89224.0,146264.0,108752.0
15245,Colorado; CO,1996-04-30,233811.0,141600.0,88698.0,145574.0,108298.0
15246,Colorado; CO,1996-03-31,232761.0,140830.0,88119.0,144786.0,107763.0
15247,Colorado; CO,1996-02-29,232240.0,140451.0,87837.0,144396.0,107501.0
15248,Colorado; CO,1996-01-31,231594.0,139990.0,87510.0,143923.0,107172.0

In [37]:
# Exporting the data as a csv file
prices_all_tiers_states.to_csv (r'prices_all_tiers_states.csv', index = False, header=True)

In [ ]:
# - ZALL which is the ZHVI estimated home value for all homes in the 35th to 65th percentile: Includes Single Family Residences, condominimums and co-ops
# - ZATT typical value for all the homes within the 65th to 95th percentile range for a given region 
# - ZABT typical value for homes that fall within the 5th to 35th percentile range for a given region
# - ZSFH which is the estimated home value for single family residences in the middle tier (mid-market) of their region
# - ZCON which is the estimated home value for Condos and co-ops in the middle tier (mid-market) of their region
# - IRAM For-Sale Inventory (All Homes, Monthly) --- not enough data only October 2017 to May 2021
# - IRSM For-sale Inventory (SFR only, Monthly) --- not enough data only October 2017 to May 2021

## Inventory for Sale  --- Not enough data just 4 yrs.

In [ ]:
# Inventory all homes data is available from 2017-10-31 to 2021-05-21

# One of two Zillow prices datatets for 26 states (Quandl has limitations and does not let pull the prices for all states at once, it's over 10,000 rows)
# Using Quandl package:
One_of_two_inventory_for_sale_all = quandl.get_table('ZILLOW/DATA', indicator_id='IRAM')
# , region_id=['9', '8', '62', '61', '60', '6', '59', '58', '56', '55', '54', '53', '52', '51', '50', '47', '46', '45', '44', '43', '42', '41', '40', '4', '39', '38']
One_of_two_inventory_for_sale_all

In [ ]:
# Oldest (minimum) date available
One_of_two_inventory_for_sale_all['date'].min()

In [ ]:
# Newest (minimum) date available
One_of_two_inventory_for_sale_all['date'].max()

In [ ]:
df = pd.read_json (r'Path where the JSON file is saved\File Name.json')
df.to_csv (r'Path where the new CSV file will be stored\New File Name.csv', index = None)

In [ ]:
df = pd.read_json (r'responszall.json')

In [ ]:
# # Define the base request URL
request_url = "https://www.quandl.com/api/v3/datatables/ZILLOW/DATA?indicator_id=ZALL&region_id=8&api_key="
# Concatenate request_url and api_key. Store as new variable
request_url = request_url + api_key
# Execute get request
response_data3 = requests.get(request_url)
# Output data
response_data3.content

In [ ]:
# # Define the base request URL
request_url = "https://www.quandl.com/api/v3/datatables/ZILLOW/DATA?indicator_id=ZALL&api_key="
# Concatenate request_url and api_key. Store as new variable
request_url = request_url + api_key

In [ ]:
# Execute get request
response_data = requests.get(request_url)

In [ ]:
# Output data
response_data.content