# Importing packages/dependencies

In [50]:
# Import packages/modules
import pandas as pd
import requests
from dotenv import load_dotenv
import os
import requests
from fredapi import Fred
import pandas_datareader.data as pdr
import datetime as dt
import seaborn as sns
import plotly.express as px
import hvplot.pandas
import holoviews as hv
import numpy as np

ModuleNotFoundError: No module named 'matplotlib.colors'

# Obtaining M2 Money supply from Fedral Reserve Economic Data site using API key

In [2]:
# load Env
load_dotenv()

True

In [3]:
# Assign variable to API
api_key=os.getenv("FRED_API_KEY")

In [4]:
# Confirm the retrievel of the API Key
type(api_key)

str

In [5]:
fred = Fred(api_key)

In [6]:
m2sl = fred.get_series('M2SL')
m2sl.head()

1959-01-01    286.6
1959-02-01    287.7
1959-03-01    289.2
1959-04-01    290.1
1959-05-01    292.2
dtype: float64

In [7]:
m2sl = pd.DataFrame(m2sl)
m2sl.head()

                0
1959-01-01  286.6
1959-02-01  287.7
1959-03-01  289.2
1959-04-01  290.1
1959-05-01  292.2

m2sl_df.reset_index

In [8]:
m2sl.rename(columns={0:"m2_supply"},inplace=True)
m2sl.head()

            m2_supply
1959-01-01      286.6
1959-02-01      287.7
1959-03-01      289.2
1959-04-01      290.1
1959-05-01      292.2

In [ ]:
# Dropping null value
m2sl.dropna()
m2sl.head()

# Obtaining BTC data from Yahoo finance using DataReader function

In [10]:
start = dt.datetime(2010,1,1)
end = dt.datetime(2021,7,31)
btc_df = pdr.DataReader('BTC-USD','yahoo',start,end)
btc_df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-09-16,468.174011,452.421997,465.864014,457.334015,21056800.0,457.334015
2014-09-17,456.859985,413.104004,456.859985,424.440002,34483200.0,424.440002
2014-09-18,427.834991,384.532013,424.102997,394.795990,37919700.0,394.795990
2014-09-19,423.295990,389.882996,394.673004,408.903992,36863600.0,408.903992
2014-09-20,412.425995,393.181000,408.084991,398.821014,26580100.0,398.821014

In [11]:
# Drop null value if any
btc_df.dropna()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-09-16,468.174011,452.421997,465.864014,457.334015,2.105680e+07,457.334015
2014-09-17,456.859985,413.104004,456.859985,424.440002,3.448320e+07,424.440002
2014-09-18,427.834991,384.532013,424.102997,394.795990,3.791970e+07,394.795990
2014-09-19,423.295990,389.882996,394.673004,408.903992,3.686360e+07,408.903992
2014-09-20,412.425995,393.181000,408.084991,398.821014,2.658010e+07,398.821014
...,...,...,...,...,...,...
2021-07-27,40816.070312,38862.437500,39503.187500,39995.906250,3.870240e+10,39995.906250
2021-07-28,40593.070312,39352.058594,39995.453125,40008.421875,2.716715e+10,40008.421875
2021-07-29,42235.546875,38397.355469,40027.484375,42235.546875,3.307278e+10,42235.546875
2021-07-30,42231.449219,41110.832031,42196.304688,41626.195312,2.580285e+10,41626.195312
2021-07-31,42541.679688,39540.941406,41460.843750,39974.894531,2.668844e+10,39974.894531

In [12]:
# Dropping columns High, Low, and Open
btc_df.drop(['High','Low','Open'], axis=1, inplace=True)
btc_df.head()

                 Close      Volume   Adj Close
Date
2014-09-16  457.334015  21056800.0  457.334015
2014-09-17  424.440002  34483200.0  424.440002
2014-09-18  394.795990  37919700.0  394.795990
2014-09-19  408.903992  36863600.0  408.903992
2014-09-20  398.821014  26580100.0  398.821014

In [13]:
# Dropping columns Volume, and Adj Close
btc_df.drop(['Volume','Adj Close'], axis=1, inplace=True)
btc_df.head()

                 Close
Date
2014-09-16  457.334015
2014-09-17  424.440002
2014-09-18  394.795990
2014-09-19  408.903992
2014-09-20  398.821014

# Merging Money supply and BTC price to single Dataframe

In [16]:
m2sl_btc = pd.concat([m2sl,btc_df], axis=1, join='inner')
m2sl_btc.head()

            m2_supply       Close
2014-10-01    11562.1  375.071991
2014-11-01    11598.2  325.748993
2014-12-01    11677.5  379.244995
2015-01-01    11747.4  314.248993
2015-02-01    11875.2  226.972000

## Exporting Dataframe to .csv file

In [52]:
m2sl_btc.to_csv(r'Resources/pd_m2sl_btc.csv', index = False, header=True)

## Cleaning up data

In [17]:
m2sl_btc.rename(columns={0:"m2_supply"}, inplace=True)
m2sl_btc.head()

            m2_supply       Close
2014-10-01    11562.1  375.071991
2014-11-01    11598.2  325.748993
2014-12-01    11677.5  379.244995
2015-01-01    11747.4  314.248993
2015-02-01    11875.2  226.972000

In [18]:
# Changing column name from close to btc_price
m2sl_btc = m2sl_btc.rename(columns={"Close":"btc_price"})
m2sl_btc.head()

            m2_supply   btc_price
2014-10-01    11562.1  375.071991
2014-11-01    11598.2  325.748993
2014-12-01    11677.5  379.244995
2015-01-01    11747.4  314.248993
2015-02-01    11875.2  226.972000

In [19]:
# Dropping null value
m2sl_btc.dropna()

            m2_supply     btc_price
2014-10-01    11562.1    375.071991
2014-11-01    11598.2    325.748993
2014-12-01    11677.5    379.244995
2015-01-01    11747.4    314.248993
2015-02-01    11875.2    226.972000
...               ...           ...
2021-02-01    19667.9  33537.175781
2021-03-01    19914.0  49631.242188
2021-04-01    20119.9  59384.312500
2021-05-01    20371.9  56631.078125
2021-06-01    20388.9  37575.179688

[81 rows x 2 columns]

# Data Visualization

In [20]:
# Plot the data trends of the two variables over time
m2sl_btc_plot = m2sl_btc.hvplot()
m2sl_btc_plot

AttributeError: 'DataFrame' object has no attribute 'hvplot'

In [21]:
m2sl_btc_scatter = m2sl_btc.hvplot(kind='scatter', x='m2_supply', y='btc_price')
m2sl_btc_scatter

AttributeError: 'DataFrame' object has no attribute 'hvplot'

In [22]:
# Calculate the correlation between money supply and BTC price
m2sl_btc_corr = m2sl_btc.corr()
m2sl_btc_corr

           m2_supply  btc_price
m2_supply   1.000000   0.808573
btc_price   0.808573   1.000000

In [23]:
# Use the `heatmap` function from the Seaborn library to visualize correlations
m2sl_btc_corr.hvplot.heatmap()

AttributeError: 'DataFrame' object has no attribute 'hvplot'

In [24]:
pandemic_startLine = hv.VSpan(dt.datetime(2020, 1, 1),dt.datetime(2021, 7, 1)).options(color='gray')
m2sl_btc_pandemic = m2sl_btc.hvplot() * pandemic_startLine * hv.Text(dt.datetime(2020, 1, 1), 21000, "Pandemic")
m2sl_btc_pandemic

NameError: name 'hv' is not defined

In [25]:
# You can plot one column versus another using the x and y keywords in plot():

df3 = pd.DataFrame(np.random.randn(1000, 2), columns=["m2_supply", "btc_price"]).cumsum()
df3.plot(x="m2_supply", y="btc_price")

NameError: name 'np' is not defined

## Calculating Z score

In [26]:
z_score_m2sl_btc = m2sl_btc.copy(deep=True)
z_score_m2sl_btc.head()

            m2_supply   btc_price
2014-10-01    11562.1  375.071991
2014-11-01    11598.2  325.748993
2014-12-01    11677.5  379.244995
2015-01-01    11747.4  314.248993
2015-02-01    11875.2  226.972000

In [27]:
z_score_m2sl_btc['m2_supply_zscore'] = (z_score_m2sl_btc['m2_supply'] - z_score_m2sl_btc['m2_supply'].mean()) /z_score_m2sl_btc['m2_supply'].std()
z_score_m2sl_btc.head()

            m2_supply   btc_price  m2_supply_zscore
2014-10-01    11562.1  375.071991         -1.225845
2014-11-01    11598.2  325.748993         -1.210906
2014-12-01    11677.5  379.244995         -1.178089
2015-01-01    11747.4  314.248993         -1.149163
2015-02-01    11875.2  226.972000         -1.096276

In [28]:
z_score_m2sl_btc['btc_price_zscore'] = (z_score_m2sl_btc['btc_price'] - z_score_m2sl_btc['btc_price'].mean()) /z_score_m2sl_btc['btc_price'].std()
z_score_m2sl_btc.head()

            m2_supply   btc_price  m2_supply_zscore  btc_price_zscore
2014-10-01    11562.1  375.071991         -1.225845         -0.627466
2014-11-01    11598.2  325.748993         -1.210906         -0.631676
2014-12-01    11677.5  379.244995         -1.178089         -0.627110
2015-01-01    11747.4  314.248993         -1.149163         -0.632658
2015-02-01    11875.2  226.972000         -1.096276         -0.640108

In [29]:
# Create DataFrame only containing z-Scores:
z_score_m2sl_btc.drop(columns = ['m2_supply', 'btc_price'], inplace = True)
z_score_m2sl_btc.head()

            m2_supply_zscore  btc_price_zscore
2014-10-01         -1.225845         -0.627466
2014-11-01         -1.210906         -0.631676
2014-12-01         -1.178089         -0.627110
2015-01-01         -1.149163         -0.632658
2015-02-01         -1.096276         -0.640108

## Plot Z Score line plot and scatter plot

In [30]:
z_score_m2sl_btc_plot = z_score_m2sl_btc.hvplot()
z_score_m2sl_btc_plot

AttributeError: 'DataFrame' object has no attribute 'hvplot'

In [31]:
z_score_m2sl_btc_scatter = z_score_m2sl_btc.hvplot(kind='scatter', x='m2_supply_zscore', y='btc_price_zscore')
m2sl_btc_scatter

AttributeError: 'DataFrame' object has no attribute 'hvplot'

## Plot z-Score correlation:

In [32]:
z_score_m2sl_btc_corr = z_score_m2sl_btc.corr()
z_score_m2sl_btc_corr

                  m2_supply_zscore  btc_price_zscore
m2_supply_zscore          1.000000          0.808573
btc_price_zscore          0.808573          1.000000

## Rolling 3 year data:

In [45]:
rolling_z_score_m2sl_btc = z_score_m2sl_btc.copy(deep=True)
rolling_z_score_m2sl_btc.head()

            m2_supply_zscore  btc_price_zscore
2014-10-01         -1.225845         -0.627466
2014-11-01         -1.210906         -0.631676
2014-12-01         -1.178089         -0.627110
2015-01-01         -1.149163         -0.632658
2015-02-01         -1.096276         -0.640108

In [44]:
rolling_z_score_m2sl_btc.columns

Index(['rolling_m2_supply_zscore', 'rolling_btc_price_zscore'], dtype='object')

In [47]:
rolling_z_score_m2sl_btc['rolling_m2_supply_zscore'] = \
(rolling_z_score_m2sl_btc['m2_supply_zscore'] - rolling_z_score_m2sl_btc['m2_supply_zscore'].rolling(window=36).mean()) / rolling_z_score_m2sl_btc['m2_supply_zscore'].rolling(window=36).std()
rolling_z_score_m2sl_btc.head()
rolling_z_score_m2sl_btc.tail()

            m2_supply_zscore  btc_price_zscore  rolling_m2_supply_zscore
2021-02-01          2.128539          2.203309                  1.981255
2021-03-01          2.230382          3.577127                  1.936298
2021-04-01          2.315588          4.409666                  1.878282
2021-05-01          2.419872          4.174645                  1.845022
2021-06-01          2.426907          2.548000                  1.720977

In [48]:
rolling_z_score_m2sl_btc['rolling_btc_price_zscore'] = \
(rolling_z_score_m2sl_btc['btc_price_zscore'] - rolling_z_score_m2sl_btc['btc_price_zscore'].rolling(window=36).mean()) / rolling_z_score_m2sl_btc['btc_price_zscore'].rolling(window=36).std()
rolling_z_score_m2sl_btc.tail()

,m2_supply_zscore,btc_price_zscore,rolling_m2_supply_zscore,rolling_btc_price_zscore
2021-02-01,2.128539,2.203309,1.981255,3.885515
2021-03-01,2.230382,3.577127,1.936298,4.291574
2021-04-01,2.315588,4.409666,1.878282,3.890181
2021-05-01,2.419872,4.174645,1.845022,3.037371
2021-06-01,2.426907,2.548000,1.720977,1.578853

In [49]:
rolling_z_score_m2sl_btc.drop(columns=['m2_supply_zscore', 'btc_price_zscore'], inplace = True)
rolling_z_score_m2sl_btc.tail()

            rolling_m2_supply_zscore  rolling_btc_price_zscore
2021-02-01                  1.981255                  3.885515
2021-03-01                  1.936298                  4.291574
2021-04-01                  1.878282                  3.890181
2021-05-01                  1.845022                  3.037371
2021-06-01                  1.720977                  1.578853

In [37]:
rolling_z_score_m2sl_btc_corr = rolling_z_score_m2sl_btc.corr()
rolling_z_score_m2sl_btc_corr

                          rolling_m2_supply_zscore  rolling_btc_price_zscore
rolling_m2_supply_zscore                  1.000000                 -0.209896
rolling_btc_price_zscore                 -0.209896                  1.000000

In [38]:
# Display the correlation matrix
rolling_z_score_m2sl_btc_corr_chart = sns.heatmap(rolling_z_score_m2sl_btc_corr, annot=True, vmin=-1, vmax=1)
rolling_z_score_m2sl_btc_corr_chart.plot()

NameError: name 'sns' is not defined

### Plot of Rolling 3 Year "z-score", z-score enables a fair comparison between the different features

In [ ]:
rolling_zScore_plot = rolling_zScore.hvplot(width=1000, height=500) * pandemic_startLine * hv.Text(datetime.datetime(2020, 1, 1), 4, "Global Pandemic", halign='right') * \
financialCrisis_startLine * hv.Text(datetime.datetime(2007, 6, 1), 3, "Financial Crisis", halign='center') * \
september11_startLine * hv.Text(datetime.datetime(2001, 9, 11), 0, "Sept. 11 ", halign='right') * \
financial_crisis_1980 * hv.Text(datetime.datetime(1981, 7, 1), -1, " 1980s Financial Crisis",halign='left')
rolling_zScore_plot