In [1]:
# Import libraries and packages
import os
import pandas as pd
from pathlib import Path
from dotenv import load_dotenv
import requests
from fredapi import Fred

In [6]:
# Set API key
load_dotenv("FRED_API_KEY.env")
fred_api_key = os.getenv("FRED_API_KEY")
type(api_key)

str

In [24]:
# Set API call for Monetary Supply*
fred = Fred(api_key=fred_api_key)
M2_data = fred.get_series('M2SL')

In [64]:
# Set API call for S&P 500*
fred = Fred(api_key=fred_api_key)
SP_500_data = fred.get_series('SP500')

In [26]:
# Set API call for Dow Jones*
fred = Fred(api_key=fred_api_key)
DOW_data = fred.get_series('DJIA')

In [27]:
# Set API call for NASDAQ*
fred = Fred(api_key=fred_api_key)
NASDAQ_data = fred.get_series('NASDAQCOM')

In [66]:
#Clean data
##Drop nulls
M2_data = M2_data.dropna()
SP_500_data = SP_500_data.dropna()
DOW_data = DOW_data.dropna()
NASDAQ_data = NASDAQ_data.dropna()

In [105]:
#Create individual data frames
M2_data = pd.DataFrame(M2_data)
SP_500_df = pd.DataFrame(SP_500_data)
DOW_df = pd.DataFrame(DOW_data)
NASDAQ_df = pd.DataFrame(NASDAQ_data)
#Join data frames together
stock_indices_df = pd.concat([M2_data, SP_500_df, DOW_df, NASDAQ_df], axis = 'columns', join = 'inner')
#Reset index
stock_indices_df = stock_indices_df.reset_index()
#Define columns
columns = ['Date', 'Money Supply', 'S&P 500', 'DOW', 'NASDAQ']
stock_indices_df.columns = columns
stock_indices_df

         Date  Money Supply  S&P 500       DOW     NASDAQ
0  2011-09-01        9529.7  1204.42  11493.57   2546.040
1  2011-11-01        9614.2  1218.28  11657.96   2606.960
2  2011-12-01        9661.9  1244.58  12020.03   2626.200
3  2012-02-01        9793.5  1324.09  12716.46   2848.270
4  2012-03-01        9841.2  1374.09  12980.30   2988.970
5  2012-05-01        9938.7  1405.82  13279.32   3050.440
6  2012-06-01       10002.3  1278.04  12118.57   2747.480
7  2012-08-01       10119.4  1375.14  12971.06   2920.210
8  2012-10-01       10260.8  1444.49  13515.11   3113.530
9  2012-11-01       10324.2  1427.59  13232.62   3020.060
10 2013-02-01       10493.0  1513.17  14009.79   3179.100
11 2013-03-01       10559.3  1518.20  14089.66   3169.740
12 2013-04-01       10593.7  1562.17  14572.85   3239.170
13 2013-05-01       10633.5  1582.70  14700.95   3299.130
14 2013-07-01       10732.4  1614.96  14974.96   3434.490
15 2013-08-01       10786.9  1706.87  15628.02   3675.740
16 2013-10-01       10952.1  1695.00  15191.70   3817.980
17 2013-11-01       10957.4  1761.64  15615.55   3922.040
18 2014-04-01       11263.1  1885.52  16532.61   4268.040
19 2014-05-01       11329.6  1883.68  16558.87   4127.450
20 2014-07-01       11437.4  1973.32  16956.07   4458.650
21 2014-08-01       11466.5  1925.15  16493.37   4352.640
22 2014-10-01       11562.1  1946.16  16804.71   4422.090
23 2014-12-01       11677.5  2053.44  17776.80   4727.350
24 2015-04-01       11931.1  2059.69  17698.18   4880.230
25 2015-05-01       11961.4  2108.29  18024.06   5005.390
26 2015-06-01       12006.5  2111.73  18040.37   5082.930
27 2015-07-01       12055.9  2077.42  17757.91   5013.120
28 2015-09-01       12158.6  1913.85  16058.35   4636.110
29 2015-10-01       12196.5  1923.82  16272.01   4627.080
..        ...           ...      ...       ...        ...
44 2017-08-01       13677.1  2476.35  21963.92   6362.940
45 2017-09-01       13718.7  2476.55  21987.56   6435.330
46 2017-11-01       13806.1  2579.36  23435.01   6716.530
47 2017-12-01       13858.7  2642.22  24231.59   6847.590
48 2018-02-01       13918.7  2821.98  26186.71   7385.860
49 2018-03-01       13975.1  2677.67  24608.98   7180.560
50 2018-05-01       14070.6  2654.80  24099.05   7130.703
51 2018-06-01       14130.3  2734.62  24635.21   7554.332
52 2018-08-01       14201.8  2813.36  25333.82   7707.285
53 2018-10-01       14239.7  2924.59  26651.21   8037.301
54 2018-11-01       14258.3  2740.37  25380.74   7434.059
55 2019-02-01       14489.8  2706.53  25063.89   7263.867
56 2019-03-01       14536.7  2803.69  26026.32   7595.352
57 2019-04-01       14572.7  2867.19  26258.42   7828.910
58 2019-05-01       14672.5  2923.73  26430.14   8049.641
59 2019-07-01       14862.1  2964.33  26717.43   8091.164
60 2019-08-01       14938.8  2953.56  26583.42   8111.121
61 2019-10-01       15156.7  2940.25  26573.04   7908.684
62 2019-11-01       15254.4  3066.91  27347.36   8386.398
63 2020-04-01       17042.9  2470.50  20943.51   7360.582
64 2020-05-01       17893.0  2830.71  23723.69   8604.949
65 2020-06-01       18179.6  3055.73  25475.02   9552.051
66 2020-07-01       18320.0  3115.86  25734.97  10154.629
67 2020-09-01       18605.0  3526.65  28645.66  11939.668
68 2020-10-01       18751.1  3380.80  27816.90  11326.508
69 2020-12-01       19131.4  3662.45  29823.92  12355.110
70 2021-02-01       19667.9  3773.86  30211.91  13403.390
71 2021-03-01       19914.0  3901.82  31535.51  13588.830
72 2021-04-01       20119.9  4019.87  33153.21  13480.110
73 2021-06-01       20388.9  4202.04  34575.31  13736.480

[74 rows x 5 columns]

In [31]:
# References
## *https://github.com/mortada/fredapi